<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Created by Feng Dingwen(2016229064) on 17-8-2.-->

<mapper namespace="cn.edu.tju.tiei.eshop.dao.CustomerOrderMapper">
    <resultMap id="CustomerOrderResultMap" type="cn.edu.tju.tiei.eshop.model.CustomerOrder">
        <result column="order_id" property="orderId"/>
        <result column="customer_name" property="customerName"/>
        <result column="order_status" property="orderStatus"/>
        <result column="payment_method" property="paymentMethod"/>
        <result column="send_method" property="sendMethod"/>
        <result column="price" property="price"/>
        <result column="place_time" property="placeTime"/>
        <result column="send_time" property="sendTime"/>
        <result column="invoice_item" property="invoiceItem"/>
        <result column="invoice_title" property="invoiceTitle"/>
    </resultMap>
    <select id="getOrderOfCustomer" parameterType="String" resultMap="CustomerOrderResultMap">
        select `orders`.id as order_id,
               customer.username as customer_name,
               order_status.name as order_status,
               `orders`.price,
               payment_method.name as payment_method,
               send_method.name as send_method,
               `orders`.place_time,
               `orders`.send_time,
               `orders`.invoice_item,
               `orders`.invoice_title
        from customer, `orders`, order_status, payment_method, send_method
        where
            customer.username=#{userName}
            and customer.username=`orders`.customer_id
            and `orders`.status_id=order_status.id
            and payment_method.id=`orders`.payment_method_id
            and send_method.id=`orders`.send_method_id
    </select>
</mapper>